{% include header_tickets.html %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h3>Hi Welcome!</h3>

					Are you looking for cheap {{page.title}}  Tickets? At Direct Seats our goal is to help you find the perfect ticket for all {{page.title}} events. We provide venue maps and allow you to sort seats by location and price because we understand that fans want to obtain the best possible {{page.title}} Tickets for their money. In order to bring you the best possible value, we strive to create a professional shopping site that delivers safe and hassle free order options for all your {{page.title}} Tickets needs. 

                    <h5>Venue: </h5>{{page.venue}} 
                    <h5>Event Date and Time: </h5>{{page.event_date}} &nbsp;{{page.event_time}} 
                    <p>
                    <a style='font-size:12px;color:blue;font-family:verdana' href='{{page.ticket_url}}'>Buy Tickets</a>
                    <p>
                </div>
            </div>
        </div>
    </article>

    <hr>
	
    <!-- Footer -->
{% include footer.html %}

Page created on {{ page.postdate }}